# ============================================================================
# OpenOCD configuration  -  STANDALONE FLASH
# Flashes build/stm32_qspi.elf to the board and verifies, then exits.
# Usage: openocd -f openocd_flash.cfg
# ============================================================================
source [find interface/stlink.cfg]
transport select swd

source [find target/stm32h7x.cfg]

set WORKAREASIZE 0x10000
reset_config srst_only
adapter speed 4000

init
program build/stm32h7_boot.elf verify reset exit
